#root {
  background-color: rgb(116, 15, 15);
  min-width: 200px;
  min-height: 100px;
  margin: 20px;
  padding: 16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 16px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgb(133, 83, 17);
}